# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env.local
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / editor files
.vscode/
.idea/

# Logs
*.log

# Python tooling
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/

# SQLite or local databases
*.db

# OS files
.DS_Store
Thumbs.db
